body {
    font-family: Arial;
    text-align: center;
    background: #f5f5f5;
    margin: 0;
}

.calendar {
    width: 650px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.2);
}
